@charset "UTF-8";

// Color
@import "node_modules/materialize-css/sass/components/color-variables";
@import "node_modules/materialize-css/sass/components/color-classes";

// Variable Overrides
$primary-color: color("blue", "lighten-2") !default;
// Variables;
@import "node_modules/materialize-css/sass/components/variables";

// Reset
@import "node_modules/materialize-css/sass/components/normalize";

// Components
@import "node_modules/materialize-css/sass/components/global";
@import "node_modules/materialize-css/sass/components/badges";
@import "node_modules/materialize-css/sass/components/icons-material-design";
@import "node_modules/materialize-css/sass/components/grid";
@import "node_modules/materialize-css/sass/components/navbar";
@import "node_modules/materialize-css/sass/components/typography";
@import "node_modules/materialize-css/sass/components/transitions";
@import "node_modules/materialize-css/sass/components/cards";
@import "node_modules/materialize-css/sass/components/toast";
@import "node_modules/materialize-css/sass/components/tabs";
@import "node_modules/materialize-css/sass/components/tooltip";
@import "node_modules/materialize-css/sass/components/buttons";
@import "node_modules/materialize-css/sass/components/dropdown";
@import "node_modules/materialize-css/sass/components/waves";
@import "node_modules/materialize-css/sass/components/modal";
@import "node_modules/materialize-css/sass/components/collapsible";
@import "node_modules/materialize-css/sass/components/chips";
@import "node_modules/materialize-css/sass/components/materialbox";
@import "node_modules/materialize-css/sass/components/forms/forms";
@import "node_modules/materialize-css/sass/components/table_of_contents";
@import "node_modules/materialize-css/sass/components/sidenav";
@import "node_modules/materialize-css/sass/components/preloader";
@import "node_modules/materialize-css/sass/components/slider";
@import "node_modules/materialize-css/sass/components/carousel";
@import "node_modules/materialize-css/sass/components/tapTarget";
@import "node_modules/materialize-css/sass/components/pulse";
@import "node_modules/materialize-css/sass/components/datepicker";
@import "node_modules/materialize-css/sass/components/timepicker";

@import 'mixins/scrollbar';


 /* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 

#header-navigation {
  position: relative;
  z-index: 19;
}

#element-navigation {
  padding-top: $navbar-height;
  height: calc(100vh);
  position: fixed;
  z-index: 18;
  top: 0;
  left: 0;
  overflow-x: hidden;
  width: 200px;
}

#document-viewport {
  @include scrollbars(20px, $primary-color);
  margin-left: 201px;
  width: calc(100vw - 200px);
  height: calc(100vh - #{$navbar-height});
  overflow: scroll;
  
  .document {
    width: 100%;
    position: relative;
    background-size: 100%;
  }
}

.field {
  position: absolute;
  touch-action: none;
}

$signer-colors: 
  0 "blue", 
  1 "red", 
  2 "yellow", 
  3 "green", 
  4 "purple", 
  5 "orange", 
  6 "teal", 
  7 "pink";

@each $order, $color in $signer-colors  {
  .signer-#{$order} {
    border: 1px solid color($color, "base");
    background-color: #{color($color, "lighten-3")}44;
  }
}

.signer-ghost {
  border: 1px solid color("blue-grey", "base");
  background-color: #{color("blue-grey", "lighten-3")}44;
}
