<nav id="header-navigation">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">SKALD</a>

    <ul class="right hide-on-med-and-down">
      <li>
        <a href="#">Cancel</a>
      </li>
      <li>
        <a href="#">Save</a>
      </li>
    </ul>
  </div>
</nav>

<div id="element-navigation" class="open z-depth-2">

</div>

<div id="document-viewport">
  {{#each this.fields as |field|}}
    <BasicField @field={{field}} />
  {{/each}}
</div>
